.nightfall-a {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #322F4C 0%, #282544 30%, #212238 52%, #1C1B2D 70%, #161523 87%, #131220 100%);
      }
.nightfall-b {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #0C1228 0%, #111832 14%, #1B1F3C 29%, #2D2846 47%, #40304A 63%, #53414D 81%, #765E5C 100%);
      }
.nightfall-c {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #270D41 0%, #330F55 17%, #3C1561 36%, #642E96 58%, #8C59BB 74%, #8D5BBB 88%, #9060BC 100%);
      }
.nightfall-d {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #36294F 0%, #3B2E56 13%, #57396F 22%, #6C4270 35%, #B24A27 81%, #966A44 100%);
      }
.nightfall-e {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #06162D 0%, #0F2E4B 33%, #153951 61%, #133757 82%, #1C4058 100%);
      }
.nightfall-f {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #061E2E 0%, #0E2638 9%, #0C2638 17%, #0C2A3C 30%, #0E3346 43%, #0F394B 52%, #0D4157 70%, #104150 83%, #1C4B58 100%);
      }
.nightfall-g {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #1E3B5B 0%, #183E62 9%, #174F6E 17%, #287484 26%, #28818D 39%, #1A7286 48%, #0F6073 61%, #105E6B 70%, #34659F 83%, #467AAC 91%, #3A9AA8 100%);
      }
.nightfall-h {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #8B4799 0%, #664191 25%, #886AA8 77%, #78569C 100%);
      }
.nightfall-i {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #323F6E 0%, #682B5C 48%, #2A3466 65%, #2C3768 74%, #2D416F 83%, #273E6B 100%);
      }
.nightfall-j {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #613E7C 0%, #223D74 48%, #0E526B 99%);
      }
.nightfall-k {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #0B0A16 0%, #0D0F17 9%, #0E151E 17%, #111F2F 26%, #172743 35%, #35426B 48%, #4B527D 61%, #4E6480 70%, #616877 78%, #A88A91 100%);
      }
.nightfall-l {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #172F67 0%, #2F4A87 10%, #243D78 32%, #365490 52%, #074363 77%, #314E85 100%);
      }
.nightfall-m {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #373060 0%, #3A3363 5%, #3F3A70 12%, #7E406F 30%, #914B88 39%, #CB83A3 64%, #C2729A 70%, #B25E8C 79%, #904A7A 91%, #7F4171 100%);
      }
.nightfall-n {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #141B4C 0%, #1B285D 48%, #22185B 70%, #351760 85%, #460B5B 100%);
      }
.nightfall-o {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #0D2125 0%, #0C1320 9%, #250D25 17%, #391335 26%, #480F54 35%, #D769A4 69%, #EA92BF 86%, #EE98C6 100%);
      }
.nightfall-p {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #030C09 0%, #0C2334 17%, #133343 30%, #103546 36%, #183F54 65%, #1D445B 70%, #265066 83%, #2D576F 87%, #1F6C7A 100%);
      }
.nightfall-q {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #3C426C 0%, #424872 4%, #454873 13%, #444670 17%, #53527E 26%, #696799 35%, #7977AB 43%, #65618F 57%, #615D89 61%, #625C80 70%, #645B7B 78%, #5E4E66 91%, #635068 100%);
      }
.nightfall-r {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #8196C1 0%, #7690C0 9%, #5979AC 18%, #4B7CBE 26%, #4678BD 35%, #4177B7 41%, #3E75B5 51%, #3A6BA6 61%, #2C538C 70%, #1D3969 78%, #192C56 87%, #0D1C3D 100%);
      }
.nightfall-s {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #53507F 0%, #525173 9%, #77637E 33%, #A68B9C 52%, #766786 65%, #7E6C86 74%, #11080B 100%);
      }
.nightfall-t {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #2C2745 0%, #282C52 13%, #2F2547 30%, #3F2D47 39%, #57344A 52%, #632F3E 61%, #88424D 74%, #89464D 78%, #CE3E39 100%);
      }
.nightfall-u {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #1B2040 0%, #22274F 9%, #363C76 22%, #373F7F 26%, #475A9C 43%, #4F61A3 57%, #555A9B 70%, #5D6095 83%, #5F5D85 100%);
      }
.nightfall-v {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #372D6C 0%, #483E84 9%, #4F4287 17%, #776098 30%, #AFA4E0 57%, #734583 83%, #66466D 100%);
      }
.nightfall-w {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #403F41 0%, #69666A 17%, #5A545A 26%, #66545B 51%, #8C6676 74%, #C884A8 96%, #B46E95 100%);
      }
.nightfall-x {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #6C64B9 0%, #5B56A8 16%, #8364B2 35%, #6C5E9C 53%, #6F649C 74%, #2C2E47 100%);
      }
.nightfall-y {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #140E36 0%, #1C4070 22%, #548DAC 52%, #203464 76%, #0D214F 86%, #153663 100%);
      }
.nightfall-z {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #000000 99%), linear-gradient(135deg, #322F4C 0%, rgba(0,0,0,0) 30%, #212238 52%, rgba(0,0,0,0) 70%, #161523 87%, rgba(0,0,0,0) 100%), linear-gradient(0deg, #173E8D 0%, #1E3E8B 9%, #373B82 22%, #535183 30%, #625485 39%, #DF8B5F 83%, #A45439 96%, #C76C42 100%);
      }
